body {
    margin: 0;
    background-color: rgb(94, 94, 94);
    max-width: 100%;
    overflow-x: hidden;
    overflow-y:hidden;
    
}
canvas {
    margin: 0 auto;
    border: thin solid black;  
}
h2 {
    text-align: center;
}